<!DOCTYPE html>
<html lang="en">

<head>
   <title>Stockyard Management Tool</title>
{% load static %}
  <!-- Favicons -->
  <link href={% static "main/img/favicon.ico" %}rel="icon">
  <link href={% static "main/img/apple-touch-icon.png" %} rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href={% static "main/lib/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
  
  <!--external css-->
  <link href={% static "main/lib/font-awesome/css/font-awesome.css" %} rel="stylesheet" />
  <link type="text/css" href= {% static "main/css/zabuto_calendar.css" %} rel="stylesheet" >
  <link type="text/css" href= {% static "main/lib/gritter/css/jquery.gritter.css" %} rel="stylesheet" />
  
  <!-- Custom styles for this template -->
  <link href={% static "main/css/styles.css" %} rel="stylesheet" />
  <link href= {% static "main/css/style-responsive.css" %}rel="stylesheet" />
  <script src= {% static "main/lib/chart-master/Chart.js" %}></script>
  <script src={% static "main/lib/datetime.js" %}></script>
  <script src={% static "main/lib/materials.js" %}></script>
  
</head>

<body onload="datetime();myFunction()">
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title=" "></div>
      </div>
      <!--logo start-->
      <a href="{% url 'main:inventory' %}" class="logo"><b><span>STOCKYARD</span> MANAGEMENT TOOL&nbsp&nbsp&nbsp</b></a>
      <!--logo end-->
      
	    
       <div class="top-menu">
	   <ul class="nav pull-right top-menu">
          <li><a class="reports" href="{% url 'main:homepage' %}">Logout</a></li>
        </ul>
	   <!-- <ul class="nav top-menu">
		  <li class="top">
		    <a class="pages" href="inventory.html"><i class="fa fa-truck"></i><span>&nbspIncoming Inventory</span></a>
          </li>
          <li class="top">
		    <a  class="active" class="pages" href="stockyard.html"><i class="fa fa-picture-o"></i><span>&nbspMonitor Stockyard</span></a>
          </li>
		  <li class="top">
            <a class="pages" href="forecasting.html"><i class="fa fa-bar-chart-o"></i><span>&nbspMaterial Forecasting</span></a>
          </li>
		  <li class="top">
             <a class="pages" href="plan.html"><i class="fa fa-edit"></i><span>&nbspPlan & schedule</span></a>
          </li>
		  <li class="top">
             <a class="pages" href="reports.html"><i class="fa fa-book"></i><span>&nbspReports</span></a>
          </li>
        </ul>-->
       </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
   <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
		<br>
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="{% url 'main:profile' %}"><img src={% static "main/img/user.jpg" %} class="img-circle" width="80"></a></p>
          <h5 class="centered" style="color:white;font-family:arial">Welcome<br>Arthur Allan<br></h5>
		  <h6 class="centered" style="color:white;font-family:arial">Time: <span id="curtime"></span></h5>
		  <h6 class="centered" style="color:white;font-family:arial">Date: <span id="curdate"></span></h5>
          <br><br>
		 <li class="mt">
            <a href="#">
              <i class="fa fa-home"></i>
              <span>Overview</span>
              </a>
          </li>
		  <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-shopping-cart"></i>
              <span>Materials</span>
			   <i class="fa fa-caret-down" style="padding-left:67px"></i>
              </a>
            <ul class="sub">
              <li><a href="#">Iron</a></li>
              <li><a href="#">Coal</a></li>
			  <li><a href="#">Limestone</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-warning"></i>
              <span>Alerts</span>
			   <i class="fa fa-caret-down" style="padding-left:88px"></i>
              </a>
            <ul class="sub">
              <li><a href="#">Combustion alert</a></li>
              <li><a href="#">Safety alarm</a></li>
			  <li><a href="#">Warnings</a></li>
			  <li><a href="#">Delays</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-wrench"></i>
              <span>Action</span>
			  <i class="fa fa-caret-down" style="padding-left:86px"></i>
              </a>
            <ul class="sub">
               <li><a href="#">Launch drone</a></li>
               <li><a href="#">Update scan</a></li>
			   <li><a href="#">Spray water</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-bar-chart-o"></i>
              <span>Analysis</span>
			   <i class="fa fa-caret-down" style="padding-left:72px"></i>
              </a>
            <ul class="sub">
               <li><a href="#">Image analysis</a></li>
              <li><a href="#">Trend analysis</a></li>
			  <li><a href="#">Material quality metrics</a></li>
			  <li><a href="#">Stockyard metrics</a></li>
            </ul>
          </li>
            <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-question-circle"></i>
              <span>Help</span>
			   <i class="fa fa-caret-down" style="padding-left:95px"></i>
              </a>
            <ul class="sub">
               <li><a href="#">24/7 Tool support</a></li>
              <li><a href="#">Troubleshooting</a></li>
			  <li><a href="#">Instructions</a></li>
			   <li><a href="#">FAQs</a></li>
            </ul>
          </li>
         </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
	  <div class="row" style="padding-left:30px">
	       <ul class="nav top-menu">
		  <li class="top">
		    <a class="pages" href="{% url 'main:inventory' %}"><i class="fa fa-truck"></i><span>&nbspIncoming Inventory</span></a>
          </li>
          <li class="top">
		    <a  class="active" class="pages" href="{% url 'main:stockyard' %}"><i class="fa fa-picture-o"></i><span>&nbspMonitor Stockyard</span></a>
          </li>
		  <li class="top">
            <a class="pages" href="{% url 'main:forecasting' %}"><i class="fa fa-bar-chart-o"></i><span>&nbspMaterial Forecasting</span></a>
          </li>
		  <li class="top">
             <a class="pages" href="{% url 'main:plan' %}"><i class="fa fa-edit"></i><span>&nbspPlan & schedule</span></a>
          </li>
		  <li class="top">
             <a class="pages" href="{% url 'main:reports' %}"><i class="fa fa-book"></i><span>&nbspReports</span></a>
          </li>
        </ul>
	  </div>
        <div class="row">
		 <div class="col-lg-6" style="padding-top:25px;border-left:thin solid #A9A9A9;border-top:thin solid #A9A9A9;border-right:thin solid #A9A9A9"">
		    <img src={% static "main/img/sliced.png" %} id="sliced" height="400px" width="100%">
		 </div>
		 <div class="col-lg-6" style="padding-top:10px;padding-left:40px;border-top:thin solid #A9A9A9;border-right:thin solid #A9A9A9"" align="center">
		     <div class="btn-group" >
                <div class="btn-group">
                 <button type="button" class="btn btn-theme04" 
				  onclick="document.getElementById('pilemat').defaultValue='-0.3';
				  document.getElementById('empty').defaultValue='60';
				  document.getElementById('stock').defaultValue='90';
				  document.getElementById('lab').defaultValue='61';
				  document.getElementById('ton').defaultValue='22';
				  document.getElementById('cal').defaultValue='';
				  document.getElementById('moist').defaultValue='87';
				  document.getElementById('q1').innerHTML='';
				  document.getElementById('sliced').src='{% static 'main/img/sliced.png' %}';myFunction()">&nbsp&nbsp&nbspIron ore&nbsp&nbsp&nbsp</button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-theme04" 
				  onclick="document.getElementById('pilemat').defaultValue='0.5';
				  document.getElementById('empty').defaultValue='44';
				  document.getElementById('stock').defaultValue='34';
				  document.getElementById('lab').defaultValue='23';
				  document.getElementById('ton').defaultValue='25';
				  document.getElementById('cal').defaultValue='51';
				  document.getElementById('moist').defaultValue='76';
				  document.getElementById('q1').innerHTML='Calorific Value';
				  document.getElementById('sliced').src='{% static 'main/img/sliced.png' %}';">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCoal&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-theme04" 
				  onclick="document.getElementById('pilemat').defaultValue='0.7';
				  document.getElementById('empty').defaultValue='32';
				  document.getElementById('stock').defaultValue='45';
				  document.getElementById('lab').defaultValue='68';
				  document.getElementById('ton').defaultValue='54';
				  document.getElementById('cal').defaultValue='';
				  document.getElementById('q1').innerHTML='';
				  document.getElementById('moist').defaultValue='45';
				  document.getElementById('sliced').src='{% static 'main/img/sliced.png' %}';
				  document.getElementById('calval').innerHTML='';myFunction();">Limestone</button>
                </div>
			   
<script>
function myFunction() {
  var x = document.getElementById('cal');
  if (x.style.display === "none") {
    x.style.display = "none";
  } else {
    x.style.display = "none";
  }
}
function myFunction1() {
  var x = document.getElementById('cal');
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "block";
  }
}
</script>
	
              </div>
			  <br><br><br><br>
			  <table border="0" height="150px" width="350px">
			  <tr>
			  <td><span style="color:black;font-size:15px"><b>Area Information</b></span></td>
			  </tr>
			<tr>
				<td><label for="fname" style="color:black;">Pile Quality Index</label><br></td>
				<td><input type="text" id="pilemat" name="pilemat" value="-0.3" required><br></td>
			</tr>
			<tr>
				<td><label for="lname" style="color:black;">Empty Spaces Detected</label><br></td>
				<td><input type="text" id="empty" name="empty" value="60" required></td>
			</tr>
			<tr>
				<td><label for="lname" style="color:black;">Stock Duration</label><br></td>
				<td><input type="text" id="stock" name="stock" value="60" required></td>
			</tr>
			<tr>
				<td><label for="lname" style="color:black;">Laboratory Test Information&nbsp</label><br></td>
				<td><input type="text" id="lab" name="lab" value="90" required></td>
			</tr>

			</table>
			<br>
			<table border="0" height="60px" width="350px">
			  <tr>
			  <td><span style="color:black;font-size:15px"><b>Quantity</b></span></td>
			  </tr>
			<tr>
				<td><label for="fname" style="color:black;">Tonnage spoiled&nbsp&nbsp&nbsp</label><br></td>
				<td style="padding-left:80px"><input type="text" id="ton" name="ton" value="10" required><br></td>
			</tr>
			</table>
			<br>
			<table border="0" height="75px" width="350px">
			  <tr>
			  <td><span style="color:black;font-size:15px"><b>Quality</b></span></td>
			  </tr>
			<tr>
				<td><label for="fname" id="calval" style="color:black;"><span id="q1">&nbsp</span></label><br></td>
				<td style="padding-left:100px"><input type="text" id="cal" name="cal" value=""><br></td>
			</tr>
			<tr>
				<td><label for="fname" style="color:black;">Total Moisture</label><br></td>
				<td style="padding-left:100px"><input type="text" id="moist" name="moist" value="10" required><br></td>
			</tr>
			</table>
         </div>
		</div> 
		<div class="row">
		   <div class="col-lg-6" style="padding-bottom:20px;padding-top:20px;border-left:thin solid #A9A9A9;border-bottom:thin solid #A9A9A9;border-right:thin solid #A9A9A9">
		   <div class="row">
			<div class="col-md-4">
			 <button type="button" class="btn btn-warning" onclick="window.location.href='/stockyard'">&nbsp&nbsp&nbsp&nbspActual view&nbsp&nbsp&nbsp&nbsp</button>
            </div>
			<div class="col-md-4"style="padding-left:20px">
			<button type="button" class="btn btn-warning" onclick="window.location.href='/stockyardprocessed'">&nbsp&nbspProcessed view&nbsp&nbsp</button>
            </div> 
			<div class="col-md-4" style="padding-left:40px">
			<button type="button" class="btn btn-warning active" onclick="window.location.href='/stockyardsliced'">&nbsp&nbsp&nbsp&nbspSliced view&nbsp&nbsp&nbsp&nbsp</button>	
			</div>
			</div>
			</div>
			<div class="col-lg-6" style="padding-bottom:54px;padding-top:20px;border-bottom:thin solid #A9A9A9;border-right:thin solid #A9A9A9">
			</div>
		</div>
      </section>
    </section>
    <!--main content end-->
    
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src={% static "main/lib/jquery/jquery.min.js" %} ></script>

  <script src= {% static "main/lib/bootstrap/js/bootstrap.min.js" %}></script>
  <script class="include" type="text/javascript" src= {% static "main/lib/jquery.dcjqaccordion.2.7.js" %}></script>
  <script src={% static "main/lib/jquery.scrollTo.min.js" %}></script>
  <script src={% static "main/lib/jquery.nicescroll.js" %} type="text/javascript"></script>
  <script src={% static "main/lib/jquery.sparkline.js" %}></script>
  
  <!--common script for all pages-->
  <script src={% static "main/lib/common-scripts.js" %} ></script>
  <script type="text/javascript" src={% static "main/lib/gritter/js/jquery.gritter.js" %}></script>
  <script type="text/javascript" src={% static "main/lib/gritter-conf.js" %}></script>
  <!--script for this page-->
  <script src={% static "main/lib/sparkline-chart.js" %}></script>
  <script src={% static "main/lib/zabuto_calendar.js" %}></script>
  <script src={% static "main/lib/materials.js" %}></script>

    
</body>

</html>
